html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  color: #394143;
}
.conteiner {
  width: 1110px;
}
.height {
  padding-top: 14px;
  padding-bottom: 106px;
}
.page-nav {
  margin: 0;
  padding: 0px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.style {
  text-decoration: none;
}
.first-style-menu {
  float: left;
  margin-right: 544px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #394143;
}
.first-style-menu::first-letter {
  color: rgb(26, 188, 156);
}
.style-menu {
  float: left;
  margin-right: 28px;
  font-size: 14px;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}
.style:hover {
  color: rgb(26, 188, 156);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
h2, h3, h4, h5, h6 { 
  margin: 0; 
  padding: 0; 
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
} 

h2 {

  text-align: center;
  margin: 0 auto;
}

.line::before{
content:'' ;
display: block;
width: 164px;
  height: 7px; 
background-color: rgb(26, 188, 156);
text-align: center;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 90px;
}
.product{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  color: #fff;
}
.order-product{
  float: left;
  width: 255px;
  background-color:#e9f0fd ;
}
.order-product:not(:nth-child(4n)) {
  margin-right: 30px;
}
.order-product:not(:nth-last-child(-n+4)) {
 margin-bottom: 30px;}
 .box{
  background: linear-gradient(90deg, #323232 78%, #8c8c8c 22%); 
  padding: 13px 14px; 
} 
 